/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #8bdbfb;
}

header {
    background-color: #343a40;
    color: #804040;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    margin-left: 20px;
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav {
    float: none; /* Hapus float */
    text-align: center; /* Posisikan di tengah */
    width: 50%; /* Atur lebar tetap */
    margin: 0 auto; /* Gunakan margin auto untuk memposisikan di tengah */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fdfafc;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffc107;
}


nav ul li a:hover {
    text-decoration: underline;
    color: #cfaf50;
}

main {
    padding: 80px 20px 20px;
}

.hero {
    background-image: url('hero-background.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: #ea8339;
}

.hero h1 {
    margin: 0;
    font-size: 48px;
}

.hero p {
    font-size: 24px;
    margin-top: 20px;
}

.intro, .about, .portfolio, .projects, .blog, .blog-post {
    margin-bottom: 40px;
}

h1, h2 {
    color: #000203;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
}

footer {
    background-color: #343a40;
    color: #e62525;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    .logo {
        margin: 0 auto;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    main {
        padding-top: 140px;
    }

    .hero {
        padding: 80px 20px;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 18px;
    }
}


.hero-image {
    display: block;
    margin: 50px auto;
    width: 160px; /* Atur lebar gambar */
    height: auto; /* Sesuaikan tinggi gambar secara proporsional */
    border-radius: 10px;
    float: left; /* Atur gambar agar rata ke kiri */
    margin-left: 40px; /* Tambahkan margin kanan untuk memisahkan gambar dari konten lain */
    margin-top: 120px;
}




